.signup-page{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://assets.nflxext.com/ffe/siteui/vlv3/45082c39-e6d5-4b02-8867-e38fe32ed3af/4b49769b-ddbc-406a-a26b-482024a66727/IN-en-20220919-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    height: 160vh;
    padding-left: 50px;
}

.sign-up-header {
    /* border: 1px solid white; */
    display: flex;
    color : white;
    justify-content: flex-start;
    
}

.sign-up-header h2{
    margin-left:12px;
}
a:link {
    text-decoration: none;
    cursor: pointer;
    
}

a:hover{
    color:aqua;
}

.signup-section{
    border: 1px solid black;
    width:30%;
    height: 70%;
    margin-top: 4%;
    margin-left: 30%;
    color:white;
    background-color:transparent;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    padding-left: 6%;
    padding-top: 4%
}

.signup-section h1{
    font-size: 34px;
    font-weight: 600;
    color: white;
    text-align: left;
    /* padding-left: 15% */
}

.signup-form{
    /* border: 1px solid red; */
    text-align: left;
    height: 65%;
    font-size: 20px;
}

.signup-form > input{
    margin-top: 6px;
    width: 80%;
    height: 40px;
    background-color: rgb(61, 61, 61);
    color: white;
}

.signup-form-button{
    height: 40px;
    background-color: gold;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.signup-form-button:hover{
    background-color: transparent;
    font-weight: 500;
    font-size: 22px;
    color:aqua;
    transition: background-color 0.6s;

}

.form-footer{
    /* border: 1px solid red; */
    text-align: left;
    height: 40px;
    font-size: 16px;
    color: white;
    
}

.note{
    font-size: 12px;
    color: red;
}

