.homepage{
    margin-top: 0px;
    height: 100vh;
    background-repeat: no-repeat;
    /* z-index: -1; */
    width:auto;
    background-size:cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(https://assets.nflxext.com/ffe/siteui/vlv3/a795ee10-8c6d-467c-8159-254be2b69013/c08e0e8a-d28f-4d82-bf93-0a9531b58a6d/IN-en-20220912-popsignuptwoweeks-perspective_alpha_website_medium.jpg) ;
    /* filter: brightness(60%); */
      
}

.sign_up_button{
    
    width: 100px;
    height: 35px;
    color: white;
    background-color: gold;
    border-radius: 4px;
    font-size: 16px;
    border-style: none;
    cursor: pointer;
}

.sign_up_button:hover{
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    color:aqua;
    transition: background-color 0.6s;
}

.homepage-header{
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    /* border: 2px green solid; */
}

.homepage-header-logo{
    display: flex;
    align-items: center;
    color: white;
    /* border: 2px blue solid; */
    
}

.header-logo h2{
    margin-left:12px;
}





