.header{
    display: flex;
    padding: 26px 60px;
    justify-content: space-between;
}

.header-logo{
    display: flex;
    color: white;
    
}

.header-logo h2{
    margin-left:12px;
}
/* .netflix_logo{
    border-bottom-left-radius: 20px ;
} */
/* .buttons{
    justify-content:center;
} */

.sign_up_button{
    
    width: 100px;
    height: 35px;
    color: white;
    background-color: gold;
    border-radius: 4px;
    font-size: 16px;
    border-style: none;
    cursor: pointer;
}

.sign_up_button:hover{
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    color:aqua;
    transition: background-color 0.6s;
}

.lang_drop_down{
    margin-right: 50px;
    padding: 4px 8px 2px;
    width: 100px;
    height: 35px;
    color: white;
    background-color: black;
    border-radius: 6px;
    border-color: white;
    border-style:solid;
    border-width: 0.4px;
}

