.movie-section{
    background-color: black;
    height: 140vh;
    color: white;
    
}

/* .poster{
    width: 100vw;
    height: auto;
    max-width: none;
    max-height: 100vh;
    object-fit: contain;
} */



