.movie-section{
    background-color: black;
    height: 140vh;
    color: white;
    
}

.movie-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .poster{
    width: 100vw;
    height: auto;
    max-width: none;
    max-height: 100vh;
    object-fit: contain;
} */

.go-back-button{
    width: 100px;
    height: 30px;
    font-weight: 500;
    font-size: 16px;
    background-color: gold;
    border-radius: 6px;;
    cursor: pointer;
    border: none;
}



